.social
	margin 20px -3px
	line-height 0
	// background red
	&__item
		display inline-block
		margin 3px
		// background green

@media (max-width 700px)
	.social
		&__social
			text-align center
			// background: red
