- var site = queryFile({ fullname: "data/site" })
- var mainMenu = queryFile({ fullname: "data/mainMenu" }).items
- var sponsors = queryFile({ fullname: "data/sponsors" }).items
- var testimonials = queryFile({ fullname: "data/testimonials" }).items
- var ourCities = queryFile({ fullname: "data/ourCities" }).items
- var calendar = queryFile({ fullname: "data/calendar" }).items
- var news = queryFile({ fullname: "data/news" }).items
- var partners = queryFile({ fullname: "data/partners" }).items
- var social = queryFile({ fullname: "data/social" }).items
- var vacancies = queryFile({ fullname: "data/vacancies" }).items
- var dev = queryFile({ fullname: "data/dev" }).items
//- - var footer = queryFile({ fullname: "data/footer" }).items
