.testimonials
	width 1080px
	text-align center
	background-color green
	.testimonials__list
		text-align left
		// display: block
	// 	font-size: 15px
		// background-color yellow
	// 	border: solid 1px grey
		// border-radius: 6px
	.testimonials__item
		display inline-block
		background-color blue
		width: 346px
		height: 177px
// .testimonials__image-container
// 	display: block
// 	position: relative
// 	overflow hidden
// 	// width 44px
// 	// height 44px
// 	border-radius: 100%;
// 	border: solid 1px black
	// .testimonials__image
// .testimonials__name
// 	margin-top: 5px
// 	display: inline-block
// 	font-size: 15px
// .testimonials__company
// 	display: inline-block
// 	font-size: 15px
// .testimonials__date
// .testimonials__socialLink
