.container
	+e.title Айтишники в восторге
	+e.list
		+e.carousel
			each item in testimonials
				+e.item
					+e.item-inner
						+e.image-container
							+e("img").image(src=item.image alt="")
						+e.info
							+e.name= item.name
							+e.name-info
								+e.company= item.company
								+e.date= item.date
						+e.social-container
							+e("a")(href="https://www.facebook.com/")
								+e("img").social-image(src=item.socialImage width="19px" height="19px" alt="")
							+e.link-contatner
							+e("a").social-link(href="https://www.facebook.com/")= item.socialLink
						+e.text= item.text
