.testimonials
	background-color #f9f9f9
	&__title
		padding-top 43px
		padding-bottom 34px
		text-align center
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
	&__list
		padding-top 38px
		padding-left 0
		padding-right 0
		padding-bottom 95px
		margin 0 -10px
		text-align center
		font-size 15px
		clearfix()
	&__item
		position relative
		float left
		margin-bottom 20px
		padding 10px
		transform translate3d(0,0,0)
		&-inner
			position relative
			z-index 2
			background-color #fff
			border-radius 6px
			border solid 1px #d9d9d9
		&:after
			position absolute
			z-index 1
			bottom 10px
			left 20px
			right 20px
			content ''
			height 30px
			// margin 0 auto
			border-radius 340px/30px
			box-shadow 0 0 20px
	&__image
		width 100%
		height auto
		&-container
			float left
			margin 10px 15px
			overflow hidden
			width 38px
			height 38px
			border-radius 4px
	&__info
		text-align left
	&__name
		width: 80%
		margin-top 5px
		display inline-block
		text-align left
		font-weight 500
		font-size 18px
		font-family "ubuntu"
	&__date
		text-align left
		display inline-block
		color #adadad
		font-size 15px
	&__company
		display inline-block
		text-align left
		font-weight 500
		font-size 18px
		font-family "ubuntu"
	&__social
		&-container
			margin-top 10px
			text-align left
			&::after
				display inline-block
				vertical-align middle
				height 96%
		&-image
			display inline-block
			vertical-align middle
			float left
			margin-left 28px
		&-link
			margin-left 5px
			text-decoration none
			color #5e7bb3
	// &__link-contatner
	// 	display inline-block
	// 	vertical-align middle
	// 	margin-left 5px
	&__text
		text-align left
		margin 12px 12px 20px 24px
	&__carousel
		// background-color blue
		// margin-bottom 50px
	.owl
		&-controls
			.owl-nav
				.owl
					&-prev
					&-next
						position absolute
						top 40%
						width 45px
						height 45px
						border 1px solid #c5c5c5
						border-radius 5px
					&-prev
						left -80px
						background url('i/carousel/carousel_arrow_left.png') no-repeat center center

					&-next
						right -80px
						background url('i/carousel/carousel_arrow_right.png') no-repeat center center

	.owl
		&-dots
			position relative
			top 35px
			height 15px
			// background green
			.owl
				&-dot
					display inline-block
					margin 0 10px
					width 15px
					height 15px
					background #c2c2c2
					border-radius 50%
					&.active
						background #f23e35
	.owl
		&-carousel
		&-item
			img
				max-width 100%
				width auto


@media (max-width 302px)
	.testimonials
		&__name
			width 70%
		&__company
			margin  0 0 0 24px
@media (max-width 375px)
	.testimonials
		&__name
			width 70%
		&__company
			margin  0
@media (max-width 425px)
	.testimonials
		&__name
			width 70%
@media (max-width 500px)
	.testimonials
		&__name
			width 67%
@media (max-width 768px)
	.testimonials
		&__name
			width 67%
		&__company
			margin  0
@media (max-width 883px)
	.testimonials
		&__name
			width 67%
		&__company
			margin  0 0 0 24px
