.cities
  width 1080px
  height: 481px
  margin 0 auto
  background #2d826e
.cities__title
  text-align center
  margin 45px 0
  font-family 'ubuntumedium'
  font-size 40px
.cities__list
  display inline-block
  // width 203px
.cities__item
  position relative
  text-align left
  display inline-block
  width: 200px
  vertical-align top
  background-color #fff
.cities__image-container
  width 200px
  height 112px
  overflow hidden
  border 1px solid #e6e6e6
  border-radius 6px
.cities__image
  width 100%
  height auto
.cities__image-shadow
  position relative
  width 100%
  height auto
  z-index: 3
  background-color red
.cities__main
  position absolute
  top 50px
  left 25%
  font-family: 'exo_2medium';
  font-size 30px
  color: #f23e35
.cities__subsidiary
  text-decoration none
  margin-right 10px
  margin-bottom 9px
  padding 8px 9px 4px
  display inline-block
  color #000
  background #f5f5f5
  border 1px solid #e6e6e6
  border-radius 6px
  font-family 'exo_2regular'
  font-size 14px
