.container
	+e.title Подай заявку на участие в своем городе
	+e.list
		each item in ourCities
			+e.item
				+e.image-block
					+e.image-container
						+e("img").image(src=item.image alt="")
					+e.image-shadow
					+e.main-container
						+e.main= item.title
				+e.item-tags
					if item.subitems
						each subitem in item.subitems
							+e("a").subsidiary(href=subitem.url)= subitem.title
