.promo
	// background grey
	&__sponsors-box
		display inline-block
		width 100%
		&::after
			display inline-block
			vertical-align middle
			content ""
			height 96%
	&__sponsors
		display inline-block
		vertical-align middle
		width 200px
		font-weight bold
		font-size 18px
		line-height 1
		font-family "ubuntu"
		color #fff
	&__sponsors-names
		display inline-block
		vertical-align middle
		text-align: center;
		width 60%

	&__become-sponsor
		// display inline-block
		vertical-align middle
		// float right
		font-size 17px
		border 2px solid
		border-radius 5px
		background none
	&__content
		text-align center
	&__title
		margin-top 90px
		font-weight 500
		font-size 45px
		font-family "ubuntu"
		color #fff
	&__text
		margin-top 24px
		font-weight 400
		line-height 38px
		font-size 30px
		font-family "ubuntu"
		color #fff
	&__button
		display inline-block
		vertical-align middle
		margin 45px 0
		padding 10px 70px
		text-decoration none
	&__bg-video
		border 1px solid
