.container
	+e.sponsors-box
		+e.sponsors НАШИ ГЕНЕРАЛЬНЫЕ СПОНСОРЫ
		+e.sponsors-names
			+e.sponsors-list
			if sponsors
				each item in sponsors
					+e("a").sponsors-item(href=item.url)
						+e("img").sponsors-image(src=item.url alt=item.title)
		+e("button").become-sponsor.btn(type="button" data-dismiss="modal" aria-hidden="true") СТАТЬ СПОНСОРОМ
	video.bg-video(width="100%" height="auto" controls="controls")
		source(src="assets/v/test.mp4" )
	+e.content
		+e.title ЦЕНТРАЛЬНОЕ ФУТБОЛЬНОЕ СОБЫТИЕ ГОДА
		+e.text Открытие заявок для Украинской Startup и IT экосистемы, <br> в 7 городах с 1 июля. Мы ищем организационных партнеров.
		+e("a").button.btn(href="/") СТАТЬ ПАРТНЕРОМ
