.news
	text-align center
	background #f9f9f9
	&__box
		margin 0 -10px
	&__title
		padding 45px 0
		text-align center
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
		color #000
	&__list
		// margin-bottom 100px
		// text-align center
		// background: yellow
	&__item
		position relative
		margin-bottom 50px
		z-index 1
		display inline-block
		// width 320px
		// height 194px
		width 100%
		height auto
		border 1px solid #cdcdcd
		background: yellow
	&__image
		position relative
		width 100%
		height auto
		&-container
			position relative
			// width 320px
			// height 194px
			width 100%
			height auto
		&-shadow
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background rgba(0, 0, 0, 0.5)
	&__city
		position absolute
		top 15px
		left -3px
		z-index 6
		padding 8px 30px 11px 32px
		font-weight bold
		font-size 18px
		font-family 'ubuntu'
		color #fff
		background #f23e35
	&__data
		position absolute
		bottom 16px
		left 15px
		z-index 7
		font-weight bold
		font-size 16px
		font-family 'ubuntu'
		color #fff
	&__content
		&-container
			text-align left
			font-size 16px
			line-height 1.5
			color #323232
			background #fff
		&-shadow
			position relative
			z-index -1
			margin 0 auto
			margin-top -30px
			width 90%
			height 30px
			background red
			border-radius 1500px/150px
			box-shadow 0 0 30px
	&__news
		&-name
			padding 25px 20px 0
			font-weight bold
			font-size 16px
			font-family 'ubuntu'
		&-description
			padding 10px 20px 14px
			font-weight normal
			font-family 'ubuntu'
	&__deal-button
		margin 50px 0
		padding 5px 80px
		box-shadow none
	&__carousel
		// background-color blue
	.owl
		&-controls
			.owl-nav
				.owl
					&-prev
					&-next
						position absolute
						top 40%
						width 45px
						height 45px
						border 1px solid #c5c5c5
						border-radius 5px
					&-prev
						left -80px
						background url('i/carousel/carousel_arrow_left.png') no-repeat center center
					&-next
						right -80px
						background url('i/carousel/carousel_arrow_right.png') no-repeat center center
	.owl
		&-dots
			position relative
			// top 35px
			// height 15px
			// background green
			.owl
				&-dot
					display inline-block
					margin 0 10px
					width 15px
					height 15px
					background #c2c2c2
					border-radius 50%
					&.active
						background #f23e35
