.container
	+e.box
		+e.title Новости
		+e.list
			+e.carousel
				each item in news
					+e.item
						+e.image-container
							+e("img").image(src=item.image alt="")
							+e.image-shadow
							+e.city= item.city
							+e.data= item.data
						+e.content-container
							+e.news-name= item.news
							+e.news-description= item.text
						+e.content-shadow
	+e("button").deal-button.btn.close(type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
