+e("h1").name Новости
+e.list
	each item in news
		+e.item
			+e.image-container
				+e.image-shadow
				+e("img").image(src=item.image alt="")
				+e.city= item.city
				+e.data= item.data
			+e.content-container
				+e.header= item.name
				+e.description= item.text
			+e.bottom-shadow
+e("button").news-see__all(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
