.news
	background #f9f9f9
	&__box
		margin 0 -10px
	&__section-title
		padding 45px 0
		text-align center
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
		color #000
	&__list
		margin-bottom 100px
		text-align center
	&__item
		position relative
		z-index 1
		display inline-block
		margin 15px
		width 320px
		height 390px
		border 1px solid #cdcdcd
	&__image
		position relative
		width 100%
		height auto
		&-container
			position relative
			width 320px
			height 194px
		&-shadow
			position absolute
			background rgba(0, 0, 0, 0.5)
			top 0
			right 0
			bottom 0
			left 0
	&__city
		position absolute
		z-index 6
		top 15px
		left -3px
		padding 8px 30px 11px 32px
		font-weight bold
		font-size 18px
		font-family 'ubuntu'
		color #fff
		background #f23e35
	&__data
		position absolute
		z-index 7
		bottom 16px
		left 15px
		font-weight bold
		font-size 16px
		font-family 'ubuntu'
		color #fff
	&__content-container
		text-align left
		font-size 16px
		line-height 1.5
		color #323232
		background #fff
	&__news
		&-name
			padding 25px 20px 0
			font-weight bold
			font-size 16px
			font-family 'ubuntu'
		&-description
			padding 10px 20px 14px
			font-weight normal
			font-family 'ubuntu'
		&-see__all
			margin-top 60px
	&__bottom-shadow
		position relative
		z-index -1
		margin 0 auto
		margin-top -30px
		width 90%
		height 30px
		background red
		border-radius 1500px/150px
		box-shadow 0 0 30px
	&__deal-button
		margin-left auto
		margin-right auto
		margin-bottom 60px
		padding 5px 80px
		box-shadow none
		// margin: 0 auto;
