.developers
	&__list
		float right
		margin-top 50px
	&__item
		margin: 15px 0;
		// width 100%
		&::after
			content ""
			display inline-block
			vertical-align middle
			height 96%
	&__name
		display inline-block
		vertical-align middle
		width 30%
	&__image-container
		display inline-block
		vertical-align middle
		width 60%
		margin-left 10px


  outline: 1px solid blue !important;
