+e("h1").calendar__name Календарь событий
+e.list
	each item in calendar
		+e.item
			+e("h4").city= item.city
			+e.data= item.data
			+e("h4").news-name= item.news
			+e.news-description= item.text
+e("button").news-see__all.close(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
