@font-face {
    font-family: 'ubuntu';
    src: url('f/Ubuntu/ubuntu-bold.eot');
    src: url('f/Ubuntu/ubuntu-bold.eot?#iefix') format('embedded-opentype'),
         url('f/Ubuntu/ubuntu-bold.woff2') format('woff2'),
         url('f/Ubuntu/ubuntu-bold.woff') format('woff'),
         url('f/Ubuntu/ubuntu-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('f/Ubuntu/ubuntu-medium.eot');
    src: url('f/Ubuntu/ubuntu-medium.eot?#iefix') format('embedded-opentype'),
         url('f/Ubuntu/ubuntu-medium.woff2') format('woff2'),
         url('f/Ubuntu/ubuntu-medium.woff') format('woff'),
         url('f/Ubuntu/ubuntu-medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('f/Ubuntu/ubuntu-regular.eot');
    src: url('f/Ubuntu/ubuntu-regular.eot?#iefix') format('embedded-opentype'),
         url('f/Ubuntu/ubuntu-regular.woff2') format('woff2'),
         url('f/Ubuntu/ubuntu-regular.woff') format('woff'),
         url('f/Ubuntu/ubuntu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
