.vacancies
	width 100%
	&__header
		margin-left 40%
		border-bottom 35px
		font-weight normal
		font-size 25px
		font-family "ubuntu"
		color #fffefe
	&__name
		display block
		// *width 100%
		font-weight 400
		font-size 16px
		line-height 46px
		font-family "ubuntu"
		text-align left
		text-decoration none
		color #8e9197

// @media (max-width 700px)
// 	.vacancies
// 		&__header
// 			margin-left 0
// 			text-align center
// 		&__name
// 			margin-left 15%
// @media (max-width 846px)
// 	.vacancies
// 		&__header
// 			margin-left 20%
