+e.contacts
	+e("h2").contacts-name Наши контакты
	+e.contacts-item
		+e("span").contacts-label Город:
		+e("a").contacts-city(href="") Киев
	+e.contacts-item
		+e("span").contacts-label Адрес:
		+e("a").contacts-address(href="") пр. Победы, 87
	+e.contacts-item
		+e("span").contacts-label Телефон:
		+e("a").contacts-tel(href="tel:+380931933942") +38 093 193 39 42
	+e.contacts-item
		+e("span").contacts-label Почта:
		+e("a").contacts-email(href="mailto:3х3football@gmail.com") 3х3football@gmail.com
