.footer
	background #43474e
	// text-align: center;
	// width 1084px
	// margin 0 auto
	&__col
		display inline-block
		width 33.3%
&__social
	// display inline-block
.social__social
	display inline-block
.social__item
	display inline-block
.vacancies
	// display inline-block
	vertical-align top
