.footer
	&__contacts
		float left
		background #43474e
		width 100%
		&::after
			display inline-block
			content ""
			height 96%
			vertical-align top
	&__col
		display inline-block
		width 33%
		vertical-align top
		font-weight 400
		font-size 16px
		font-family "ubuntu"
		text-align left
		color #8e9197
	&__contacts
		&_name
			margin 55px 0 35px
			font-weight normal
			font-size 25px
			font-family "ubuntu"
			color #fffefe
		&-email
		&-tel
		&-address
		&-city
			text-decoration none
			color #8e9197
