.footer
	&__contacts
		float left
		background #43474e
		width 100%
		&::after
			display inline-block
			content ""
			height 96%
			vertical-align top
	&__col
		display inline-block
		width 30%
		vertical-align top
		font-weight 400
		font-size 16px
		font-family "ubuntu"
		text-align left
		color #8e9197
	&__contacts
		&-name
			margin 55px 0 10px
			// margin-top 55px
			font-weight normal
			font-size 25px
			font-family "ubuntu"
			color #fffefe
		&-item
			margin 5px 0
		&-email
		&-tel
		&-address
		&-city
			text-decoration none
			color #8e9197

@media (max-width 700px)
	.footer
		&__col
			width 100%
		&__contacts
			&-name
				text-align center
			&-item
				margin-left 15%
				// width 50%
// 				// background: blue
// @media (max-width 900px)
// 	.footer
// 		&__col
// 			width 30%
