.partners
	&__row
		padding-top 20px
		padding-left 50px
		padding-right 50px
		padding-bottom 80px
		@media phone
			padding-left 10px
			padding-right 10px
			padding-bottom 10px
	&__name
		text-align center
		padding-bottom 40px
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
		color #323232
		@media phone
			padding-bottom 20px
			font-size 20px
	&__list
		text-align center
		&::after
			content ""
			display inline-block
			height 96%
			vertical-align middle
	&__item
		display inline-block
		vertical-align middle
		width  25%
		height 150px
		margin 0 -5px 20px 0
		padding 5px
		fit-image()
		@media phone
			width  30%
			height 100px
			margin-bottom 0
