.partners
	background #fff
	&__name
		margin 45px 0
		text-align center
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
		color #323232
	&__list
		// background red
		margin-bottom 60px
		text-align center
		&::after
			content ""
			display inline-block
			height 96%
			vertical-align middle
	&__item
		display inline-block
		margin 15px
		// width 20%
		height auto
		vertical-align middle
		// background green
		&-image
			display block
@media (max-width 375px)
	.partners
		&__name
			font-size 30px
		&__item
			&-image
				width 100px
				height auto
@media (max-width 768px)
	.partners
		&__item
			&-image
				width 100px
				height auto
