+e.name Наши партнеры
.container
	+e.list
		each item in partners
			+e("a").item(href=item.url)= item.title
				+e("img").image(src=item.image width="220px" height="auto" alt=item.title)
+e("a").UItoTop(href="#" title="Вернуться к началу")
	+e("img").button-image(width="60px" height="60px" src='assets/i/scroll_button.svg')
