.partners
	background #fff
	&__name
		margin 45px 0
		text-align center
		font-weight 500
		font-size 40px
		font-family 'ubuntu'
		color #323232
	&__list
		// background red
		margin-bottom 60px
		text-align: center;
		&::after
			content ""
			display inline-block
			vertical-align middle
			height 96%
	&__item
		display inline-block
		vertical-align middle
		// width 20%
		height auto
		margin: 15px
		// background: green
	&__image
		// display inline-block
		// vertical-align middle
	// &__football-button
	// 	position fixed /*позиционирование кнопки фиксированное*/
	// 	z-index 99 /*отображаем поверх всех элементов*/
	// 	bottom: 0% /*положение снизу*/
	// 	right 0% /*положение справа*/
	// 	color #fff /*цвет текста*/
	// 	// padding 10px /*внутренние отступы*/
	// 	// margin: 5px 15px 15px 5px; /*внешние отступы*/
	// 	margin-right 30px
	// 	margin-bottom 400px
	// 	&:hover
	// 		opacity 1
