.header
	display block
	// text-align right
	background #323232
	@media phone
		&.active
			.header
				&__menu
					position absolute
					top 0
					display block
					width 100%
					background rgba(#000000, 0.8)
					&-list
						margin 20px 0
						padding-left 0
					&-item
						display block
						width 100%
						margin 10px 0
					&-link
						font-size 22px

	&__box
		height 80px
		&::after
			content ""
			height 96%
	&__logo
		position relative
		top 15px
		float left
		// background green
		&-image
			height 100%
			width auto

	&__menu
		padding 23px 0
		@media phone
			display none
			position absolute
			top 100%
			left 0
			right 0
			background yellow
			z-index 100
		&-list
			padding-left 0
			text-align center
			text-decoration none
		&-item
			position relative
			display inline-block
		&-link
			text-decoration none
			font-weight normal
			font-size 16px
			font-family 'exo_2'
			color #fff
			&:focus
			&:link
			&:active
			&:hover
				color #ef5829
	&__toggle
		display none
		float right
		width 50px
		height @width
		border 3px solid #ef5829
		border-radius 0
		background red
		@media phone
			position absolute
			z-index 100
			display block
			right 20px
			top 20px
