.header
	display block
	text-align right
	background #323232
	// & ul
	// 	margin 0
	// 	padding 0
	&__box
		// background rgb(104, 71, 201)
		&::after
			content ""
			height 96%

	&__logo
		// display inline-block
		// vertical-align middle
		position relative
		float left
		top 15px
		// width 25%
		// height auto
		// background green
	&__logo-image
		height 100%
		width auto
	&__menu-list
		text-align: center;
		text-decoration none
	&__menu
		padding 23px 0
	&__menu-item
		display inline-block
		// background yellow
	&__menu-link
		text-decoration none
		font-weight normal
		padding 0 10px
		font-size 14px
		font-family 'exo_2'
		color #fff
		// background blue
