+e.form
	+e.form-shadow
			+e.forms-container
				+e.section-name Стань частью события!
				+e.user-company Компания
				+e("input").input-name(type="text" name="name" size="28" maxlength="10")
				+e("label").user-name Имя
				+e("input").input-name(type="text" name="name" size="28" maxlength="10")
				+e("label").user-phone Phone
				+e("input").input-name(type="text" name="name" size="28" maxlength="10" placeholder="+38 (0XX) XXX - XX - XX")
				+e("label").user-email Email
				+e("input").input-name(type="text" name="name" size="28" maxlength="10")
				+e("label").user-team
					+e("input").checkbox(type="checkbox" name="" )
					+e("span").checkbox-title У нас есть команда
				+e("button").button.btn(type="button" data-dismiss="modal" aria-hidden="true") СТАТЬ ПАРТНЕРОМ
				+e.button-info Ваши данные никогда не будут переданы 3-м лицам.
