.form
	margin 0 auto
	text-align center
	color #fff
	background url('i/bg-form.png') no-repeat center center
	background-size cover
	&__form
		&-shadow
			background-color rgba(0, 0, 0, 0.65)
		&-container
			display inline-block
			width 32%
			text-align left
		&-title
			margin 40px 0
			text-align center
			font-weight 500
			font-size 40px
			line-height 1.2
			font-family 'ubuntu'
	&__wrap
		display inline-block
		&:after
			content ""
			display inline-block
			vertical-align middle
			height 96%
	&__user
		&-company
		&-name
		&-phone
		&-email
			display inline-block
			vertical-align middle
			margin 15px auto
			vertical-align middle
			width 29%
			font-weight 400
			font-size 19px
			font-family 'ubuntu'
		&-team
			display inline-block
			margin-left 30%
	&__input-name
		display inline-block
		vertical-align middle
		padding 15px
		width 70%
		height 40px
		font-weight 400
		font-size 18px
		font-family "ubuntu"
		color #b0b0b0
		border-radius 6px
		border 0
		&:focus
			color #5e0b0b
			background #ffe
			border 1px solid #29B0D9
	&__checkbox
		&-title
			margin-left 8px
			font-weight bold
			font-size 18px
			font-family 'exo_2'
	&__button
		display inline-block
		margin-top 20px
		width 100%
		&-info
			margin-top 10px
			margin-bottom 50px
			text-align center
			font-family 'ubuntu'
			font-weight bold
			font-size 14px
	&__span
		margin-left 8px
		font-weight bold
		font-size 18px
		font-family 'exo_2'

@media (max-width 320px)
	.form
		&__form
			&-container
				width 80%
		&__checkbox
			&-title
				font-size 16px
		&__button
			font-size 18px

@media (max-width 375px)
	.form
		&__form
			&-container
				width 82%

@media (max-width 425px)
	.form
		&__input-name
			font-size 16px
		&__form
			&-container
				width 80%
			&-title
				font-size 35px

@media (max-width 676px)
	.form
		&__form
			&-container
				width 50%
		&__user
			&-company
			&-name
			&-phone
			&-email
				font-size 15px

@media (max-width 1028px)
	.form
		&__form
			&-container
				width 45%

@media (max-width 897px)
	.form
		&__form
			&-title
				font-size 30px
		&__button
			font-size 20px
			padding 7px 0
		&__checkbox
			&-title
				font-size 14px
