.form
	+e.list
		each item in form
			+e.item
				+e.forms-container
					+e("h1").section-name Стань частью события!
					+e.company-name Компания
					+e("input").input-name("text" name="name" size="27" maxlength="10") text
					+e("label").user-name Имя
						+e("input").input-name("text" name="name" size="27" maxlength="10")
					+e("label").user-phone Phone
						+e("input").user-number(type="" name="" value="+38 (0XX) XXX - XX - XX")
					+e("label").user-email
						+e("span".email E-mail
						+e("input").input-email(type="email" name="" value="")
					+e("label").user-team
						+e("input").input-checkbox(type="checkbox" name="" )
						span У нас есть команда
					+e("button").deal-button(type="button" data-dismiss="modal" aria-hidden="true") СТАТЬ ПАРТНЕРОМ
					+e.form__info Ваши данные никогда не будут переданы 3-м лицам.
